<h1 style="text-align:center"><%= @torneo.nombre %>: Equipos </h1>

<table class="table table-bordered" style="width: 70%;  margin: 0 auto">
	<tr style="background: #E6E6E6">
		<th style="text-align:center">Nombre Equipo</th>
        <th style="text-align:center">Acciones</th>		
	</tr>
	<% @equipos.each do | equipo | %>

	<tr style="background: #E0ECF8">
		<td>
			<%= equipo.nombre_equipo %>
		</td>
		
		<% if equipo.nombre_equipo.nil? %> 
    		<td style="text-align:center">
	    	    <%= link_to 'Crear equipo', url_for(:equipo, :editar_crear, :equipo_id => equipo.id), :class => "btn btn-primary" %>	     
    	    </td>
		<% else %>
		    <td style="text-align:center">
	    	    <%= link_to 'Editar equipo', url_for(:equipo, :editar, :equipo_id => equipo.id), :class => "btn btn-primary" %>	     
    	    </td>
    	<% end %>
	</tr>

  <% end %>

</table>

</br>
<center>
		<%= link_to 'Volver', url_for(:torneo, :latest), :class => "btn btn-primary" %>
	</center>
