<!DOCTYPE html>
<html lang="en-US">
	<head>
    <meta charset="utf-8">
		<title>Macaya2 - Crea tu torneo!</title>
		<%= stylesheet_link_tag '/assets/application.css' %>
	</head>
	<body>
		<div class="container">
      <div class="masthead">
      	<div class="container">

				</div>
        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li><%= link_to 'Home', url_for(:page, :index) %></li>
                <li><%= link_to 'Torneos', url_for(:torneo, :latest) %></li>
                <li><%= link_to 'Crear Torneo' , url_for(:torneo, :new) %></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->
      </div>

      <div class="container">
			  <div>
			    <%= [:error, :warning, :success, :notice].map { |type| flash_tag(type, :class => "alert alert-#{type} fade in", :bootstrap => true) }.join.html_safe %>
			  </div>

      	<%= yield %>

      </div>
      <!-- footer -->
      <div class="footer">
      	<hr/>
        <p>Macaya2 | 2014</p>
      </div>

    </div> 

		<%= javascript_include_tag '/assets/application' %> 
		</body>
</html>
